@model WoundRecord

@if (TempData["Msg"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Msg"]
    </div>
}
<div class="row">
    <h2>Wound Records</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Wounds</th>
                <th>Annotations</th>
                <th>Masks</th>
            </tr>
        </thead>
        <tbody>
            @{ int woundImgCount = 0; }
            @foreach (AnnotationMaskImage ai in Model.annotationMaskImage)
            {
                woundImgCount += 1;
                <tr>
                    @if (woundImgCount == 1)
                    {
                        <td class="border">
                            <img src="/photos/@Model.imagefile" style="width:100%" />
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td class="border">
                        <img src="~/photos/@ai.annotationimagefile" style="width:100%" />
                    </td>
                    <td class="border">
                        <img src="~/photos/@ai.maskimagefile" style="width:100%" />
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <div class="col-sm-4">
        <p>Wound Name: @Model.woundname</p>
        <p>Wound Stage: @Model.woundstage</p>
        <p>Remarks: @Model.woundremarks</p>
        <p>Wound Category: @Model.woundcategoryname</p>
        <p>Wound Location: @Model.woundlocationname</p>
        <p>Tissue: @Model.tissuename</p>
        <p>Version: @Model.versionname</p>
        <p>
            <a asp-controller="Wound"
               asp-action="Update"
               asp-route-id="@Model.woundid">
                Edit
            </a> |
            <a asp-controller="Wound"
               asp-action="Delete"
               asp-route-id="@Model.imageid"
               onclick="return confirm('Delete Wound [Model.woundname]')">
                Delete
            </a>
        </p>
    </div>
</div>




