@model List<Image>

<h2>Wound Records</h2>
@if (TempData["Msg"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Msg"]
    </div>
}
<div class="row">
    @foreach (Image row in Model)
    {
        <div class="col-sm-4">
            <div class="card">
                <a asp-controller="Wound" asp-action="Details" asp-route-id="@row.image_id">
                    <img src="/photos/@row.img_file" class="card-img-top" />
                </a>
                <div class="card-body">
                    <div class="card-title">
                        @row.name
                    </div>
                    <div>
                        <small>
                            <a asp-controller="Wound"
                               asp-action="Update"
                               asp-route-id="@row.image_id">
                                Edit
                            </a> |
                            <a asp-controller="Wound"
                               asp-action="Delete"
                               asp-route-id="@row.image_id"
                               onclick="return confirm('Delete Wound [@row.name]')">
                                Delete
                            </a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
