@model CombineClass2

<style>
    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }
</style>

<h2>Wound Records</h2>
@if (TempData["Msg"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Msg"]
    </div>
}
<div class="row">
        <div class="column">
            <img src="/photos/@Model.imagefile" class="card-img-top" style="width:100%" />
        </div>
        @foreach (AnnotationImage ai in Model.AnnotationImages)
        {
            <div class="column">
                <img src="~/photos/@ai.annotationimagefile" style="width:100%" />
            </div>
            <div class="column">
                <img src="~/photos/@ai.maskimagefile" style="width:100%" />
            </div>
        }
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">@Model.woundname</h6>
                <p>@Model.woundname</p>
                <p>@Model.woundname</p>
                <p>@Model.woundcategoryname</p>
                <p>@Model.woundlocation</p>
                <p>@Model.tissuename</p>
                <p>@Model.woundversionname</p>
                <div>
                    <small>
                        <a asp-controller="Wound"
                           asp-action="Update"
                           asp-route-id="@Model.imageid">
                            Edit
                        </a> |
                        <a asp-controller="Wound"
                           asp-action="Delete"
                           asp-route-id="@Model.imageid"
                           onclick="return confirm('Delete Wound [Model.woundname]')">
                            Delete
                        </a>
                    </small>
                </div>
            </div>
        </div>
</div>
