@model List<WoundRecord>

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Message"]
    </div>
}

<h2> View Wound </h2>

<div class="row">
    @foreach (WoundRecord row in Model)
    {
        <div class="col-sm-4">
            <div class="card">
                <a asp-controller="Wound" asp-action="Details2" asp-route-id="@row.woundid">
                    <img src="/photos/@row.imagefile" class="card-img-top" alt="Responsive image" width="200" height="230" />
                </a>
                <div class="card-body">
                    <div class="card-title">
                        @row.woundname
                    </div>
                    <div>
                        <small>
                            @row.woundlocationname    

                        </small>
                        <style>
                            .btn-primary {
                                border-color: #000000;
                                background-color: #656565;
                                color: #FFF;
                            }

                                .btn-primary:hover {
                                    border-color: #000000;
                                    background-color: #808080;
                                }
                        </style>
                        <p></p>
                        <a class="btn btn-primary" style="width: 150px" asp-controller="Wound" asp-action="Details" asp-route-id="@row.woundid"><small>Details</small></a>
                        <a class="btn btn-primary" style="width: 150px" asp-controller="Wound" asp-action="zoom" asp-route-id="@row.woundid"><small>Zoom</small></a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>



