@model List<WoundRecord>

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Message"]
    </div>
}

<h2 class="mb-4">View Wound</h2>

<div class="row">
    @foreach (WoundRecord row in Model)
    {
        <div class="col-sm-4">
            <div class="card">
                <a asp-controller="Wound" asp-action="Details" asp-route-id="@row.woundid">
                    <img src="/photos/@row.imagefile" class="card-img-top img-fluid" alt="Responsive image" />
                </a>
                <div class="card-body">
                    <h5 class="card-title">@row.woundname</h5>
                    <p class="card-text">@row.woundlocationname</p>
                    <a class="btn btn-primary btn-sm" asp-controller="Wound" asp-action="Details" asp-route-id="@row.woundid">Details</a>
                    <a class="btn btn-primary btn-sm" asp-controller="Wound" asp-action="ZoomImage" asp-route-id="@row.woundid">Zoom Image</a>
                </div>
            </div>
        </div>
    }
</div>



