@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section MoreScripts {
    <script src="~/lib/chartjs/Chart.min.js"></script>
    <script src="~/lib/chartjs/chartjs-plugin-labels.min.js"></script>

    <script language="javascript">


      $(document).ready(function () {
         new Chart(document.getElementById("chart"), {
            type: '@ViewData["Chart"]',
            data: {
               labels: @Json.Serialize(ViewData["Labels"]),
               datasets: [{
                  label: '@ViewData["Legend"]',
                  data: @Json.Serialize(ViewData["Data"]),
                  backgroundColor: @Json.Serialize(ViewData["Colors"]),
                  fill: false
               }]
            },
             options: {
               responsive: false,
               scaleBeginAtZero: true,
                legend: {
                    display: @ViewData["ShowLegend"]
               },

               title: {
                  display: true,
                  text: '@ViewData["Title"]'
               }
            }
         });
      });

        $(document).ready(function () {
         new Chart(document.getElementById("Catchart"), {
            type: '@ViewData["CatChart"]',
            data: {
               labels: @Json.Serialize(ViewData["CatLabels"]),
               datasets: [{
                  label: '@ViewData["CatLegend"]',
                  data: @Json.Serialize(ViewData["CatData"]),
                  backgroundColor: @Json.Serialize(ViewData["CatColors"]),
                  fill: false
               }]
            },
             options: {
               responsive: false,
               scaleBeginAtZero: true,
                legend: {
                    display: @ViewData["CatShowLegend"]
               },

               title: {
                  display: true,
                  text: '@ViewData["CatTitle"]'
               }
            }
         });
      });
        $(document).ready(function () {
         new Chart(document.getElementById("UserChart"), {
            type: '@ViewData["UserChart"]',
            data: {
               labels: @Json.Serialize(ViewData["UserLabels"]),
               datasets: [{
                  label: '@ViewData["UserLegend"]',
                  data: @Json.Serialize(ViewData["UserData"]),
                  backgroundColor: @Json.Serialize(ViewData["UserColors"]),
                  fill: false
               }]
            },
             options: {
               responsive: false,
               scaleBeginAtZero: true,
                legend: {
                    display: @ViewData["UserShowLegend"]
               },

               title: {
                  display: true,
                  text: '@ViewData["UserTitle"]'
               }
            }
         });
      });
    </script>

    
}
<style>
    .sidenav {
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
    }

        .sidenav a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
        }
</style>
<head>
    <!-- style sheets references -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- script files references -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="sidenav">
        <a href="/Chart/Dashboard">Dashboard</a>
        <a href="/Wound/Index">Main menu</a>
    </div>
    <div class="container-fluid">
        <div class="row">
            <h1>Welcome to the dashboard</h1>
        </div>


        <div class=" row">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Location">Wounds by location</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Category">Wounds by category</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Users">Display Users</a></li>
        </ul>

        
            <div class="tab-content">
                <div id="Location" class="tab-pane fade in active">
                    <h2>Wound by @ViewData["Title"]</h2>
                    <canvas id="chart" width="600" height="300"></canvas>
                </div>
                <div id="Category" class="tab-pane fade">
                    <h2>Wound by @ViewData["CatTitle"]</h2>
                    <canvas id="Catchart" width="600" height="300"></canvas>
                </div>
                <div id="Users" class="tab-pane fade">
                    <h2>Display @ViewData["UserTitle"]</h2>
                    <canvas id="UserChart" width="600" height="300"></canvas>
                </div>
            </div>

        </div>
        

    </div>
</body>
